body {
    background-color: navy;
    color: white;
    height: 100vh;
    width: 100vw;
}

header {
    margin: none;
    padding: none;
    font-size: .5rem;
    text-align: center;
    justify-content: center;

}

.navbar {
    width: 80%;
    /* margin: 5px 5px; */
    /* padding: 10px 10px; */
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.mission-statement{
    font-size: .5rem;
    text-align: center;
    justify-content: center;
}

.bannerAndPhotos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 95%;
}

.topBanner img {
    height: 150px;
    width: 90%;
    justify-content: center;
}

/* Maybe remove these for mobile first approach and only keep top banner change display settings for other media queries*/
.catPhoto img, .dogPhoto img {
    height: 150px;
    width: 100px;
    justify-content: center;
    display: none;
}

.petInfo {
    width: 95%;
    height: 350px;
    color: black;
    font-size: larger;
    background-image: url(/photos/test.jpg);
}